<body>
    <div ng-controller="RegistroController">
        <form ng-submit="modificarUsuario()">
            <label>
                Correo electrónico antiguo:
                <input type="email" ng-model="user.correo" id="inputEmail" required>
            </label><br>
            <label>
                Nombre antiguo:
                <input type="text" ng-model="user.nombre" id="inputName" required>
            </label><br>
            <label>
                Contraseña antigua:
                <input type="password" ng-model="user.password" id="inputPassword" required>
            </label><br>
            <label>
                Nombre nuevo:
                <input type="text" ng-model="user.nombre" id="inputName" required>
            </label><br>
            <label>
                Contraseña nueva:
                <input type="password" ng-model="user.password" id="inputPassword" required>
            </label><br>
            <button type="submit">Modificar</button>
        </form>
    </div>
    </body>