<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Página de registro">
        <meta name="author" content="Hecho por José Gadea Rodríguez, Pablo Antonio Martínez Vicente y Javier García García">

        <title>Página de administrador</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
        <script src="/js/poner_datos.js"></script>

    </head>

    <body ng-app="mainApp">

        <header>
            <nav>
                <h1>Página de administración</h1>
                
                <a href="/html/pagina_registro.html">Salir de esta página</a>
            </nav>
        </header>
        <div>
            <table>
                <tr id="Fila principal">
                    <th>Usuarios</th>
                    <th>Categorías</th>
                    <th>Vídeos</th>
                </tr>
                <tr id="Crear">
                    <td><a ng-href="#!/registro_usuario">Crear Usuario</a></td>
                    
                    <td><a ng-href="#!/registro_categoria">Crear Categoría</a></td>
                    <td><a ng-href="#!/registro_video">Crear Vídeo</a></td>
                </tr>
                <tr id="Modificar">
                    <td><a ng-href="#!/modificar_usuario">Modificar Usuario</a></td>
                    
                    <td><a ng-href="#!/modificar_categoria">Modificar Categoría</a></td>
                    <td><a ng-href="#!/modificar_video">Modificar Vídeo</a></td>
                </tr>
                <tr id="Eliminar">
                    <td><a ng-href="#!/eliminar_usuario">Eliminar Usuario</a></td>
                    
                    <td><a ng-href="#!/eliminar_categoria">Eliminar Categoría</a></td>
                    <td><a ng-href="#!/eliminar_video">Eliminar Vídeo</a></td>
                </tr>
            </table>
        
            <td><div ng-view></div></td>

            <button ng-controller="RegistroController" type="button" ng-click="ocultarVista()">Ocultar Vista</button>

        
            <div ng-controller="datos">
                <table id="Tabla_datos">
                    <tr id="Fila principal">
                        <th>Usuarios</th>
                        <th>Categorias</th>
                        <th>Vídeos</th>
                    </tr>
                    <tr ng-repeat="s in res">
                    </tr>
                    <tr ng-repeat="s in res">
                    </tr>
                    <tr ng-repeat="s in res">
                    </tr>
                </table>
                </div>
            </div>

        </div>

    </body>

</html>