<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Página de registro">
        <meta name="author" content="Hecho por José Gadea Rodríguez, Pablo Antonio Martínez Vicente y Javier García García">

        <title>Página de administrador</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
        <script src="/js/poner_datos.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/themes.css">
        <link rel="stylesheet" type="text/css" href="/css/charset.css">


    </head>

    <body ng-app="mainApp">

        <header>
            <nav>
                <h1>Página de administración</h1>
                
                <a href="/html/pagina_registro.html">Salir de esta página</a>
            </nav>
        </header>
        <div>
            <div ng-controller="RegistroController" class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-primary" ng-click="ocultarVista()">Ocultar Modificación</button>
                        </div>
                        <div class="card mt-3">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Usuarios</th>
                                        <th>Categorías</th>
                                        <th>Vídeos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="Crear">
                                        <td><a ng-href="#!/registro_usuario">Crear Usuario</a></td>
                                        <td><a ng-href="#!/registro_categoria">Crear Categoría</a></td>
                                        <td><a ng-href="#!/registro_video">Crear Vídeo</a></td>
                                    </tr>
                                    <tr id="Modificar">
                                        <td><a ng-href="#!/modificar_usuario">Modificar Usuario</a></td>
                                        <td><a ng-href="#!/modificar_categoria">Modificar Categoría</a></td>
                                        <td><a ng-href="#!/modificar_video">Modificar Vídeo</a></td>
                                    </tr>
                                    <tr id="Eliminar">
                                        <td><a ng-href="#!/eliminar_usuario">Eliminar Usuario</a></td>
                                        <td><a ng-href="#!/eliminar_categoria">Eliminar Categoría</a></td>
                                        <td><a ng-href="#!/eliminar_video">Eliminar Vídeo</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
              
            <td><div ng-view id="relative"></div></td>

            

        
            <div ng-controller="datos" class="container" id="relative">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="text-center">Información de Administración</h3>
                            </div>
                            <div class="card-body">
                                <table id="Tabla_datos" class="table table-striped table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Usuarios</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="s in usuarios">
                                            <td>Nombre: {{s.username}}, Email: {{s.email}}, Rol: {{s.role}}, ID: {{s.user_id}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table id="Tabla_datos" class="table table-striped table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Categorías</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="s in categorias">
                                            <td>Nombre: {{s.name}}, ID: {{s.id}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table id="Tabla_datos" class="table table-striped table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Vídeos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="s in videos">
                                            <td><a type="button" class="btn btn-primary" href={{s.url}}>{{s.name}}</a> Categoría: {{s.category}}, URL: {{s.url}}, ID: {{s.id}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

    </body>

</html>