<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Página de registro">
        <meta name="author" content="Hecho por José Gadea Rodríguez, Pablo Antonio Martínez Vicente y Javier García García">
        <title>Página de Vídeos</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.js"></script>
        <script src="/js/get_videos.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/themes.css">
        <link rel="stylesheet" type="text/css" href="/css/charset.css">
    </head>
    <body ng-app="myApp">
        <div ng-controller="myCtrl" class="container">
            <div ng-repeat="categoria in categorias">
                <h3>{{categoria.name}}</h3>
                <div ng-repeat="producto in productos ">
                    <div ng-if="producto.category === categoria.name">

                        <div class="col-4">
                            <div class="card shadow-sm" >
                                <iframe height="225" ng-src="{{getEmbedUrl(producto.url)}}" title="{{producto.nombre}}" frameborder="3px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <h5 style="margin: 4px; color: black" class="card-title">{{producto.name}}</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="card-text" style="color: black">CATEGORÍA {{producto.category}}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
