<body>
<div ng-controller="RegistroController">
    <form ng-submit="registrarUsuario()">
        <label>
            Nombre del usuario:
            <input type="text" ng-model="user.nombre" id="inputName" required>
        </label><br>
        <label>
            Correo electrónico:
            <input type="email" ng-model="user.correo" id="inputEmail" required>
        </label><br>
        <label>
            Contraseña:
            <input type="password" ng-model="user.password" id="inputPassword" required>
        </label><br>
        <button type="submit">Registrar</button>
    </form>
</div>
</body>